### VirtualEnv template
# Virtualenv
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venvc
pip-selfcheck.json
codeRepo/venv/
codeRepo/venv
*codeRepo/venv/
.codeRepo/venv/
codeRepo/__pycache__
codeRepo/__pycache__/
*codeRepo/__pycache__/
.codeRepo/__pycache__/
codeRepo/generated/__pycache__
codeRepo/generated/__pycache__/
*codeRepo/generated/__pycache__/
.codeRepo/generated/__pycache__/
.codeRepo/resources
.idea/
.venv/
